#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_SSUnitedCoind += debian/examples/*
DEB_INSTALL_MANPAGES_SSUnitedCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix SSUnitedCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f SSUnitedCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake SSUnitedCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/SSUnitedCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/SSUnitedCoind
binary-post-install/SSUnitedCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/SSUnitedCoin-qt
